* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #fff;
	font-style: normal;
	font-size: 14px;
	font-family: Open Sans, sans-serif;
	color: #000;
}

#top {
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 0;
	text-align: center;
	clear: both;
}

#foot {
	height: 50px;
	line-height: 50px;
	background-color: #9AFF02;
	width: 100%;
	position: absolute;
	z-index: 200;
	bottom: 0;
	text-align: center;
	clear: both;
	font-weight: bold;
}

#container {
	width: calc(100% - 20px);
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
	top: 80px;
	bottom: 50px;
	left: 10px;
	right: 10px;
	position: absolute;
	z-index: 0;
	clear: both;
}

#left {
	width: 15%;
	height: 100%;
	float: left;
	background-color: #fff;
	position: relative;
}

#right {
	width: calc(85% - 5px);
	height: 100%;
	float: left;
	background-color: #fff;
	position: relative;
}

#currentClusterName {
	float: right;
	display: inline-block;
	margin-right: 15px;
	margin-top: 30px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
}

#tabContent {
	overflow-y: scroll;
	width: 100%;
}

#logBox {
	clear: both;
}

.logItem {
	width: 100%;
	text-align: left;
}

#stackTraceBox {
	clear: both;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}

.traceItem {
	width: 100%;
	text-align: left;
	font-size: 12px;
}

.traceItem pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

input, select, textarea {
	font: 14px 微软雅黑;
}

img {
	cursor: pointer;
}

#logoText {
	font-weight: bold;
	font-size: 32pt;
	font-style: italic;
	float: left;
	display: inline-block;
	height: 36px;
}

#navBox {
	width: auto;
	height: 32px;
	line-height: 32px;
	display: block;
	font-size: 14pt;
}

#navBox li {
	list-style: none;
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: left;
	margin-top: 5px;
	cursor: pointer;
	background-color: #fff;
	font-weight: bold;
}

#navBox li a {
	text-decoration: none;
}

#navBox ul li span {
	float: left;
	display: inline-block;
}

#navBox ul li span img {
	width: 30px;
	height: 30px;
	border: 0px;
}

#sec-nav {
	width: 100%;
	clear: both;
	padding: 5px 0px 10px 0px;
}

#sec-nav ul {
	width: auto;
	height: 28px;
	line-height: 28px;
	display: block;
	font-size: 13px;
}

#sec-nav ul li {
	list-style: none;
	float: left;
	display: inline-block;
	margin-right: 5px;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #DCDCDC;
	cursor: pointer;
	background-color: #fff;
	border-radius: 10px;
	padding: 0px 10px;
}

#leftTop {
	width: 70%;
	height: 50px;
	float: left;
	display: inline-block;
	margin-top: 5px;
}

#rightTop {
	width: 30%;
	height: 50px;
	float: left;
	display: inline-block;
	margin-top: 20px;
}

#rightTop span {
	display: block;
	text-align: right;
	left: right;
	height: 20px;
	margin: 2px 20px 2px;
}

.cBtn {
	width: 80px;
	padding: 5px 20px;
	cursor: pointer;
}

.tblCom {
	table-layout: fixed;
}

.tblCom thead tr {
	height: 32px;
	line-height: 32px;
	border-top: 1px solid #BEBEBE;
	background-color: #9AFF02;
}

.tblCom thead tr td {
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	color: #000;
	border-left: 1px solid #BEBEBE;
	border-top: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
}

.tblCom thead tr td:last-child {
	border-right: 1px solid #BEBEBE;
}

.tblCom tbody tr {
	height: 32px;
	line-height: 32px;
}

.tblCom tbody tr td {
	height: 32px;
	line-height: 32px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-left: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
}

.tblCom tbody tr td:nth-child(1) {
	border-left: 1px solid #BEBEBE;
}

.tblCom tbody tr td:last-child {
	border-right: 1px solid #BEBEBE;
}

.tdLeft5 {
	text-align: left;
	padding-left: 5px;
}

.tdLeft10 {
	text-align: left;
	padding-left: 10px;
}

.tdRight5 {
	text-align: right;
	padding-right: 5px;
}

.tdRight10 {
	text-align: right;
	padding-right: 10px;
}

.trGreen {
	color: #00BB00;
}

.trRed {
	color: #D9006C;
}

.popTop {
	width: 520px;
	height: 30px;
	line-height: 30px;
	margin: 0px 10px 15px;
	text-align: left;
}

.popTitle {
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
}

.popClose {
	display: inline-block;
	float: right;
	width: 22px;
	height: 22px;
	margin: 4px 0px;
	background: url('../img/mod_close.png') no-repeat scroll transparent;
	cursor: pointer;
}

.popBox {
	width: 550px;
	text-align: left;
	padding: 5px 10px;
	height: auto;
	overflow: hidden;
}

.popContent p {
	height: auto;
	display: block;
	line-height: 30px;
	margin-bottom: 2px;
	width: 100%;
}

.popContent p label {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

a:link {
	color: #46A3FF;
	text-decoration: none;
}

a:visited {
	color: #5B5B5B;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

.tabNoData {
	display: table;
	width: 100%;
	height: 400px;
	line-height: 400px;
}